<section class="form">
    <div class="container--content section--marg__huge pt--60">
        <div class="box white stripe">
            {% include 'partials/messages.html.twig' %}

            {% if page.template == 'login' or show_login_form %}

                {% if grav.user.authenticated %}
                    <h4>{{ 'PLUGIN_LOGIN.WELCOME'|t }} <strong>{{ grav.user.fullname ?: grav.user.username }}</strong></h4>
                    <hr>
                    <a class="button logout" href="{{ uri.addNonce(base_url_relative ~ uri.path ~ '/task' ~ config.system.param_sep ~ 'login.logout', 'logout-form', 'logout-nonce') }}">{{ 'PLUGIN_LOGIN.BTN_LOGOUT'|t }}</a>

                {% else %}
                    {{ content|raw }}

                    <form method="post" action="{{ base_url_relative ~ uri.path }}">
                        {% if grav.twig.plugins_hooked_loginPage %}
                            {% for label in grav.twig.plugins_hooked_loginPage %}
                                {% include label %}
                            {% endfor %}
                        {% endif %}

                        {% for field in form.fields %}
                            {% if field.type %}
                                <div>
                                    {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="form-actions secondary-accent">
                            {% if config.plugins.login.rememberme.enabled and page.header.form.login.rememberme ?? true %}
                                <div class="form-data rememberme" data-grav-default="null" data-grav-disabled="true" data-grav-field="checkbox">
                                    <div class="form-input-wrapper checkbox">
                                        <input type="checkbox" value="1" name="rememberme" id="#rememberme">
                                        <label class="inline" for="#rememberme" title="{{ 'PLUGIN_LOGIN.REMEMBER_ME_HELP'|t }}">{{ 'PLUGIN_LOGIN.REMEMBER_ME'|t }}</label>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="flex-grid">
                                <div class="col form--left">
                                    <button id="loginButton" type="submit" class="form--link__large" name="task" value="login.login">{{ 'PLUGIN_LOGIN.BTN_LOGIN'|t }} to my account &raquo;</button>
                                </div>
                                <div class="col form--right">
                                    {% if page.header.form.login.forgot_button ?? true %}
                                    <p class="form--link"><a href="{{ base_url_relative }}{{ config.plugins.login.route_forgot }}">{{ 'PLUGIN_LOGIN.BTN_FORGOT'|t }} password &raquo;</a> or <a href="/register">create account &raquo;</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {{ nonce_field('login-form', 'login-form-nonce')|raw }}
                    </form>

                {% endif %}

            {% endif %}
        </div>
    </div>
</section>
