<section class="secondary--navigation" role="navigation">

    {% if page.find('/vision').children.visible %}
    <ul class="nav--dropdown nav--dropdown__sight" aria-hidden="true" role="menu" id="visionMenu">
        <div class="nav--dropdown__margin">
            {% for p in page.find('/vision').children.visible %}
                {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }} nav--sub-item" role="menuitem">
                    <a class="nav--wrap" href="{{ p.url }}"><span class="nav--link">{{ p.menu }}</span></a>
                </li>
            {% endfor %}
        </div>
    </ul>
    {% endif %}

    {% if page.find('/sound').children.visible %}
    <ul class="nav--dropdown nav--dropdown__audio" aria-hidden="true" role="menu" id="soundMenu">
        <div class="nav--dropdown__margin">
            {% for p in page.find('/sound').children.visible %}
                {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }} nav--sub-item" role="menuitem">
                    <a class="nav--wrap" href="{{ p.url }}"><span class="nav--link">{{ p.menu }}</span></a>
                </li>
            {% endfor %}
        </div>
    </ul>
    {% endif %}

    {% if page.find('/interaction').children.visible %}
    <ul class="nav--dropdown nav--dropdown__touch" aria-hidden="true" role="menu" id="interactionMenu">
        <div class="nav--dropdown__margin">
            {% for p in page.find('/interaction').children.visible %}
                {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }} nav--sub-item" role="menuitem">
                    <a class="nav--wrap" href="{{ p.url }}"><span class="nav--link">{{ p.menu }}</span></a>
                </li>
            {% endfor %}
        </div>
    </ul>
    {% endif %}

    {% if page.find('/about').children.visible %}
    <ul class="nav--dropdown nav--dropdown__about" aria-hidden="true" role="menu" id="aboutMenu">
        <div class="nav--dropdown__margin">
            {% for p in page.find('/about').children.visible %}
                {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }} nav--sub-item" role="menuitem">
                    <a class="nav--wrap" href="{{ p.url }}"><span class="nav--link">{{ p.menu }}</span></a>
                </li>
            {% endfor %}
        </div>
    </ul>
    {% endif %}

</section>
