<section class="secondary--navigation">

    {% if page.find('/sight-manual').children.visible %}
    <ul class="nav--dropdown nav--dropdown__sight">
        <div class="nav--dropdown__margin">
            {% for p in page.find('/sight-manual').children.visible %}
                {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }} nav--sub-item">
                    <a class="nav--wrap" href="{{ p.url }}"><span class="nav--link">{{ p.menu }}</span></a>
                </li>
            {% endfor %}
        </div>
    </ul>
    {% endif %}

    {% if page.find('/audio-manual').children.visible %}
    <ul class="nav--dropdown nav--dropdown__audio">
        <div class="nav--dropdown__margin">
            {% for p in page.find('/audio-manual').children.visible %}
                {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }} nav--sub-item">
                    <a class="nav--wrap" href="{{ p.url }}"><span class="nav--link">{{ p.menu }}</span></a>
                </li>
            {% endfor %}
        </div>
    </ul>
    {% endif %}

    {% if page.find('/touch-manual').children.visible %}
    <ul class="nav--dropdown nav--dropdown__touch">
        <div class="nav--dropdown__margin">
            {% for p in page.find('/touch-manual').children.visible %}
                {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }} nav--sub-item">
                    <a class="nav--wrap" href="{{ p.url }}"><span class="nav--link">{{ p.menu }}</span></a>
                </li>
            {% endfor %}
        </div>
    </ul>
    {% endif %}

    {% if page.find('/about-manual').children.visible %}
    <ul class="nav--dropdown nav--dropdown__about">
        <div class="nav--dropdown__margin">
            {% for p in page.find('/about-manual').children.visible %}
                {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }} nav--sub-item">
                    <a class="nav--wrap" href="{{ p.url }}"><span class="nav--link">{{ p.menu }}</span></a>
                </li>
            {% endfor %}
        </div>
    </ul>
    {% endif %}

</section>
